@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.site-layout-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}

.logo {
  width: 120px;
  height: 31px;
  background: rgba(255, 255, 255, 0.2);
  margin: 16px 24px 16px 0;
  float: left;
}

[data-theme="dark"] .site-layout-content {
  background: #141414;
}

[data-theme="dark"] .logo {
  background: rgba(255, 255, 255, 0.3);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}